@font-face {
  font-family: "Roboto-bold";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  background-color: hsl(234, 29%, 20%);
  font-family: "Roboto-Regular";
}

/* Sign-up form */

.signup_page {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  gap: 10px;
  width: 60%;
  margin: 5% auto;
  border-radius: 30px;
  padding: 1%;
}

.signup_form {
  padding: 5%;
  text-align: left;
  color: hsl(235, 18%, 26%);
}

h1 {
  font-family: "Roboto-Bold";
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 0.8rem;
  color: hsl(234, 29%, 20%);
}

p {
  max-width: 90%;
}

.signup_form > ul {
  padding: 0px;
  text-align: left;
  margin: 20px 0px;
  list-style-type: none;
}

.signup_form > ul > li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0px;
}

span > img {
  margin-bottom: -5%;
}

.label {
  font-size: 12px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 86%;
  font-family: "Roboto-bold";
}

input {
  padding: 3%;
  width: 80%;
  border-radius: 7.5px;
  border-width: 1px;
  border-style: solid;
}

input:hover {
  cursor: pointer;
}

button {
  background-color: hsl(234, 29%, 20%);
  border: none;
  color: white;
  font-family: "Roboto-bold";
  font-size: 14px;
  margin: 25px 0px;
  border-radius: 7.5px;
  width: 87%;
  padding: 15px 20px;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, hsl(4, 100%, 67%), orangered);
  box-shadow: 0px 5px 25px hsl(4, 100%, 67%);
}

/* success-message */

.success_message {
  background-color: hsl(0, 0%, 100%);
  width: 22%;
  margin: 5% auto;
  border-radius: 30px;
  padding: 2% 2% 2% 3%;
  text-align: left;
  color: hsl(235, 18%, 26%);
}

.success_message > img {
  width: 50px;
}

.success_message > h1 {
  line-height: 3.5rem;
  margin-top: 4%;
  font-size: 45px;
}

.success_message > p {
  max-width: 87%;
  font-size: 15px;
}

#input_email {
  font-weight: 700;
}

.success_message > button {
  margin-top: 5px;
  max-width: 90%;
  font-size: 13px;
}

/* Mobile Design */

@media (max-width: 376px) {
  body {
    margin: 0%;
  }

  /* Mobile sign-up */

  .signup_page {
    flex-direction: column;
    flex-flow: column-reverse;
    gap: 3px;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }

  .signup_form {
    margin-left: 4%;
    padding-top: 0%;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
    max-width: none;
  }

  li {
    font-size: 16px;
    max-width: none;
  }

  span > img {
    margin-bottom: -20%;
  }

  .signup_form > ul > li {
    gap: 14px;
    font-size: 15px;
    line-height: 1.25rem;
  }

  ul > li > img:not(:last-child) {
    margin-top: -20%;
  }

  input {
    width: 85%;
    padding: 5%;
  }

  button {
    width: 95%;
  }

  /* Mobile success message */

  .success_message {
    width: 92%;
    height: 100vh;
    margin: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 6%;
  }

  .success_message > img {
    margin-top: 30%;
    width: 55px;
  }

  .success_message > h1 {
    margin-top: 10%;
    font-size: 40px;
    line-height: 2.7rem;
  }

  .success_message > p {
    margin-top: 2.5%;
    max-width: none;
    font-size: 16px;
  }

  .success_message > button {
    position: absolute;
    bottom: 20px;
    max-width: 85%;
  }
}
/* Hidden Class */

.hidden {
  display: none;
}

/* Error state */

#error_label {
  color: hsl(4, 100%, 67%);
}

.error_state {
  color: hsl(4, 100%, 67%);
  border-color: hsl(4, 100%, 67%);
  background-color: #ffe8e6;
}
